<router-outlet></router-outlet>
<div class="card">
  <div class="flex flex-wrap card-container blue-container">
    <div class="flex-1 md:flex-none flex align-items-center justify-content-center m-1 px-1 py-3 border-round">
      <span class="p-float-label text-black-alpha-90">
        <textarea id="float-input" (onResize)="replaceText()" pInputTextarea [autoResize]="true" [(ngModel)]="sTexto" [rows]="10" [cols]="60"></textarea>
        <label class="text-lg font-italic text-bluegray-900" for="float-input">Introduce textul</label>
      </span>
    </div>
    <ng-container *ngIf="sTextoConvertidoConDobleSalto.length > 0">
      <div class="flex-1 md:flex-none flex align-items-center justify-content-center m-1 px-1 py-3 border-round">
        <textarea class="bg-green-100" id="float-input" pInputTextarea [autoResize]="true" [(ngModel)]="sTextoConvertidoConDobleSalto" [rows]="10" [cols]="60"></textarea>
      </div>
    </ng-container>
  </div>
</div>